# PostgreSQL
POSTGRES_USER = "art4key"
POSTGRES_PASSWORD = "12345678"
POSTGRES_DATABASE = "arta"
POSTGRES_PORT = "5432"

# Discord
DISCORD_TOKEN = ""
DISCORD_CLIENT_ID = ""
DISCORD_GUILD_ID = ""

# Applicaction
OLLAMA_HOST = "http://127.0.0.1:11434"
OLLAMA_MODEL = "llama3.1:latest"
DATABASE_URL = "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DATABASE}?schema=public"