# Postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=database

# Application
LOG_LEVEL=info
TELEGRAM_BOT_TOKEN=
GEMINI_API_KEY=
POSTGRES_DSN=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}
